-
	const SLCDN = {
		URL: 'https://cdn.jsdelivr.net/',
		DIST: 'npm/@shoelace-style/shoelace@2.9.0/dist',
	};

//- Load theme (default: dark). This mixin is required at least once.
mixin slTheme(name='dark')
	link(rel='stylesheet' href=`${SLCDN.URL}${SLCDN.DIST}/themes/${name}.min.css`)

//- Load a single component
mixin slComponent(name)
	script(type='module' src=`${SLCDN.URL}${SLCDN.DIST}/components/${name}/${name}.min.js`)

//- Load multiple components
mixin slComponents(...names)
	each name in names
		+slComponent(name)

//- Load all components. This is not recommended for production.
mixin slAllComponents
	script(type='module' src=`${SLCDN.URL}${SLCDN.DIST}/shoelace.min.js`)
